<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pages | Pages</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">

    <link href="{{ base_path }}css/bundle.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_path }}third-party/css/checkbox/grey.css">
    <script src="{{ base_path }}third-party/js/jquery.min.js"></script>
    <script src="{{ base_path }}third-party/js/icheck.min.js"></script>
    <script src="{{ base_path }}third-party/js/bootstrap-slider.js"></script>
    <script src="{{ base_path }}third-party/js/bootstrap.min.js"></script>
    <script src="http://dev.ajadmin/vendors/typeahead/typeahead.bundle.js"></script>
    <script src="http://dev.ajadmin/vendors/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="{{ base_path }}third-party/Chart.js/dist/Chart.min.js"></script>
    <script src="{{ base_path }}third-party/js/sticky-header.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body class="sidebar-slim {{body_class}}">
<div>
    <div id="message-box">This is a box</div>
    <!--BEGIN BACK TO TOP-->
    <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
    <!--END BACK TO TOP-->
    <!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3"
             class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <!--<button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span-->
                        <!--class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span-->
                        <!--class="icon-bar"></span><span class="icon-bar"></span></button>-->
                <a id="logo" href="javascript:void(0);" class="navbar-brand"><span class="fa fa-rocket"></span><span
                        class="logo-text">ABTest</span><span class="logo-text-icon">
                    <i class="fa fa-align-justify sidebar-toggle" aria-hidden="true"></i>
                </span></a>
            </div>
            <button type="button" class="sidebar-toggle">
                <i class="fa fa-arrow-left fa-1 x" aria-hidden="true"></i>
            </button>
        </nav>
    </div>
    <!--END TOPBAR-->
    <div id="wrapper">
        <!--BEGIN SIDEBAR MENU-->
        <nav id="sidebar" role="navigation" data-step="2"
             data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
             data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">

                    <div class="clearfix"></div>
                    <li class="active">
                        <a href="/dashboard/campaigns">
                            <i class="fa fa-balance-scale fa-fw"></i>
                            <span class="menu-title">All Experiments</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="height: calc(100vh - 400px); overflow-y: scroll; ">
                            {% for campaign in runningCampaigns %}
                                <li>
                                    <a href="/dashboard/campaign/edit/{{ campaign.id }}">
                                        &nbsp;&nbsp;&nbsp;
                                        {{ campaign.campaign_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>


            <a href="/dashboard/snippet" class="bottomfixed" style="bottom: 50px;
                position: absolute;
                padding: 15px 17px;
                color: #FFF;
                width:250px;">
                <i class="fa fa-send-o fa-fw"></i> &nbsp;&nbsp;&nbsp;Snippet
            </a>

        </nav>


        <div id="page-wrapper">
            <!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <ol class="breadcrumb page-breadcrumb pull-left">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
                {% block powerswitch %}
                {% endblock %}
                <div class="clearfix">
                </div>
            </div>
            <!--END TITLE & BREADCRUMB PAGE-->
            <!--BEGIN CONTENT-->
            <div class="page-content">
                <div id="tab-general">
                    <div class="row mbl">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--END CONTENT-->
    <!--BEGIN FOOTER-->
    <div id="footer" class="hide">
        <div class="copyright">
            <a href="">Rocket</a></div>
    </div>
    <!--END FOOTER-->
</div>
<!--END PAGE WRAPPER-->
</div>
</div>


<script src="{{ base_path }}js/script.js"></script>
</body>
</html>
