<div class="col-xs-12 col-md-3 col-lg-2">
    <ul id="content-side-menu" class="nav">
        <div class="clearfix"></div>
        <li class="active">
            <a href="/dashboard/new">
                <i class="fa fa-street-view fa-fw"></i>
                <span class="menu-title">Overview</span>
            </a>
        </li>

        <li>
            <a href="/dashboard/new">
                <i class="fa fa-code fa-fw"></i>
                <span class="menu-title">Variations</span>
            </a>
        </li>

        <li>
            <a href="/dashboard/new">
                <i class="fa fa-users fa-fw"></i>
                <span class="menu-title">Targeting</span>
            </a>
        </li>

    </ul>
</div>
<div class="col-xs-12 col-md-9 col-lg-10">
    <ul id="generalTab" class="nav nav-tabs responsive">
        <li class="active"><a href="#general-tab" data-toggle="tab">General</a></li>
        <li class=""><a href="#rules-tab" data-toggle="tab">Rules</a></li>
        <li class=""><a href="#variations-tab" data-toggle="tab">Variations</a></li>
        <li class=""><a href="#analytics-tab" data-toggle="tab">Analytics</a></li>
        <li class=""><a href="#goals-tab" data-toggle="tab">Goals</a></li>
        <li class=""><a href="#reports-tab" data-toggle="tab">Reports</a></li>
    </ul>
    <form action="#" class="form-horizontal">
        <div id="generalTabContent" class="tab-content responsive">
            <div id="general-tab" class="tab-pane fade active in">
                {% include 'partials/general.html' %}
            </div>
            <div id="rules-tab" class="tab-pane fade">
                {% include 'partials/rules.html' %}
            </div>
            <div id="variations-tab" class="tab-pane fade">
                {% include 'partials/variations.html' %}
            </div>
            <div id="analytics-tab" class="tab-pane fade">
                {% include 'partials/analytics.html' %}
            </div>
            <div id="goals-tab" class="tab-pane fade">
                {% include 'partials/goals.html' %}
            </div>
            <div id="reports-tab" class="tab-pane fade">
                {% include 'partials/reports.html' %}
            </div>
        </div>


        <input id="campaign-id" value="{{ id }}" type="hidden">
    </form>
    <button id="campaign-save-btn" type="submit" class="btn btn-primary">Finish</button>
</div>