{% extends 'common/two_col.html' %}
{% set active = 'homepage' %}

{% block breadcrumb %}

<li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">All Campaigns</a>&nbsp;&nbsp;<i
        class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li class="hidden"><a href="#">Pages</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
</li>

<li class="active">{{ data.campaign_name }}</li>

{% endblock %}


{% block content %}
{% for message in app.session.getFlashBag.get('msg') %}
{{ message }}
{% endfor %}

<script src="{{ base_path }}third-party/js/ace/ace.js"></script>
<!-- Page Content -->
<div id="new-campaign">
    <form action="#" class="form-horizontal">
        <div class="row mbl pll prl">

            <div class="col-sm-12 col-md-2"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways">
                    <li class="active"><a href="#overview-tab" class="menu-tabs" data-toggle="tab">Overview</a></li>
                    <li><a href="#variation-tab" class="menu-tabs" data-toggle="tab">Variations</a></li>
                    <li><a href="#targetting-tab" class="menu-tabs" data-toggle="tab">Targetting</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-10">
                <!-- Tab panes -->
                <div class="tab-content row">
                    <div class="tab-pane active" id="overview-tab">
                        <div class="panel panel-white">
                            <div class="panel-heading">Overview</div>
                            <div class="panel-body">
                                Loading..
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="variation-tab">
                        {% include 'partials/variations.html' %}
                    </div>
                    <div class="tab-pane" id="targetting-tab">
                        {% include 'partials/targetting.html' %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <button id="campaign-save-btn" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
<input id="campaign-id" value="{{ id }}" type="hidden">
<!-- /.container -->

{% endblock %}