{% extends 'common/two_col.html' %}
{% set active = 'homepage' %}

{% block breadcrumb %}

    <li>
        <i class="fa fa-home"></i>&nbsp;<a href="/dashboard/campaigns">All Experiments</a>&nbsp;&nbsp;<i
            class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="hidden">
        <a href="#">Pages</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>

    <li class="active"><input type="text" class="form-control" id="campaign_name" value="{{ data.campaign_name }}"></li>
    <button id="campaign-save-btn" type="submit" class="btn btn-dark"><i class="fa fa-floppy-o"></i> Save</button>


{% endblock %}
{% block powerswitch %}
<span class="pull-right" style="margin-top:16px">
     {% set campaign = data %}
     {% include 'partials/powerswitch.html' %}
</span>
{% endblock %}
{% block content %}
{% for message in app.session.getFlashBag.get('msg') %}
{{ message }}
{% endfor %}

<script src="{{ base_path }}third-party/js/ace/ace.js"></script>
<!-- Page Content -->
<div id="edit-campaign">
    <form action="#" class="form-horizontal">
        <div class="row mbl pll prl">

            <div class="col-sm-12 col-md-2"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways">
                    <li class="active"><a href="#overview-tab" class="menu-tabs" data-toggle="tab">
                        <i class="fa fa-area-chart fa-fw"></i> Overview</a></li>
                    <li><a href="#variation-tab" class="menu-tabs" data-toggle="tab">
                        <i class="fa fa-code fa-fw"></i> Variations</a></li>
                    <li><a href="#targetting-tab" class="menu-tabs" data-toggle="tab">
                        <i class="fa fa-users fa-fw"></i> Targetting</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-10">
                <!-- Tab panes -->
                <div class="tab-content row neutral pdn">
                    <div class="tab-pane active" id="overview-tab">
                        <div class="panel panel-white">
                            <div class="panel-heading">Connection</div>
                            <div class="panel-body  {{ connection }}" id="analytics-connection">
                                <img src="/images/ajax-loader.gif" alt="">
                            </div>
                        </div>
                        <div class="analytics-connected {{ (connection == 'false') ? ' hide':'' }}">
                            <div class="form-group {{ (mode=='new')?'hide'}}">
                                <label class="col-lg-offset-6 col-sm-3 control-label">Report Range</label>
                                <div class="col-md-3 controls">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="text" class="form-control" id="reportrange" name="daterange" data-start="{{ campaign_start_date }}" data-end="{{ campaign_end_date }}" value="{{ campaign_start_date }} - {{ campaign_end_date }}" />
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar daterangeicon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-white {{ (mode=='new')?'hide' }}">
                                <div class="panel-heading">Traffic Split</div>
                                <div class="panel-body" id="report-overview">
                                    <img src="/images/ajax-loader.gif" alt="">
                                </div>
                            </div>
                            <div id="report-goals">
                                {% include 'partials/reporting-goals-loading.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="variation-tab">
                        {% include 'partials/variations.html' %}
                    </div>
                    <div class="tab-pane" id="targetting-tab">
                        {% include 'partials/targeting.html' %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<input id="campaign-id" value="{{ id }}" type="hidden">
<!-- /.container -->
<div id="goal-setup-popup-box">
    <!-- popup window will be loaded by ajax -->
</div>
{% endblock %}