{% extends 'common/two_col.html' %}
{% set active = 'homepage' %}

{% block breadcrumb %}

<h4>Snippet</h4>
{% endblock %}


{% block content %}
{% for message in app.session.getFlashBag.get('msg') %}
{{ message }}
{% endfor %}

<script src="{{ base_path }}third-party/js/ace/ace.js"></script>
<!-- Page Content -->
<div id="snippet">
<div class="row mbl pll prl">
    <div class="col-xs-12 col-md-4 text-justify">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div id="snippet-editor" class="col-xs-12 col-md-8" style="height: 800px;">
/**
 * ***************NOTE**************
 * Do not change the variable names while minifying.
 * Use http://www.danstools.com/javascript-minify/ to minify
 **/
(function() {
    var account_id = {{ account_id }},
        settings_tolerance = 500,
        library_tolerance = 3000,
        use_existing_jquery = true,
        domain = document.location.host,
        f = false,
        d = document,
        logic = {
            settings_timer: null,
            use_existing_jquery: function() {
                return use_existing_jquery;
            },
            library_tolerance: function() {
                return library_tolerance;
            },
            finish: function() {
                if (!f) {
                    f = !0;
                    var ele = d.getElementById('_abtest_path_hides');
                    ele && ele.parentNode.removeChild(ele);
                }
            },
            finished: function() {
                return ABTest.init(account_id, logic);
            },
            load: function(src) {
                var script = d.createElement('script');
                script.src = src,
                script.type = 'text/javascript';
                if (script.readyState) { // IE, incl. IE9
                    script.onreadystatechange = function() {
                        if (script.readyState == "loaded" || script.readyState == "complete") {
                            script.onreadystatechange = null;
                            logic.finished();
                        }
                    };
                } else {
                    script.onload = function() { // Other browsers
                        logic.finished();
                    };
                }
                script.onerror = function() {
                    logic.finish();
                };
                d.getElementsByTagName('head')[0].appendChild(script);
            },
            init: function() {
                this.settings_timer = setTimeout(logic.finish, settings_tolerance);
                var style = d.createElement('style'),
                    css = 'html{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',
                    h = d.getElementsByTagName('head')[0];

                style.setAttribute('id', '_abtest_path_hides');
                style.setAttribute('type', 'text/css');
                style.styleSheet ? style.styleSheet.cssText = css : style.appendChild(d.createTextNode(css));
                h.appendChild(style);

                this.load('http://localhost:3001/js/Client.js');
            }

        };
    logic.init();
})();
</div>
</div>
</div>
{% endblock %}