<a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a>
<hr>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#user-block">
                    User Settings
                </a>
            </h4>
        </div>
        <div id="user-block" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="user-block-input custom-cb" id="all-users" {{data.user.all ? 'checked' : ''}} ><label for="all-users">All Users</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="user-block-input custom-cb" id="new-users" {{data.user.new ? 'checked' : ''}} ><label for="new-users">New Users</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="user-block-input custom-cb" id="returning-users" {{data.user.returning ? 'checked' : ''}} ><label for="returning-users">Returning Users</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#url-block">
                    URL Settings
                </a>
            </h4>
        </div>
        <div id="url-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">URL</label>
                    <div class="col-md-9 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="url" type="text" class="url-block-input tagsinput" value="{{ data.url.url|join(',') }}" placeholder="Enter multiple urls" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Also include if URL contains</label>
                    <div class="col-md-9 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="url_contains" class="url-block-input tagsinput" type="text" value="{{ data.url.url_contains|join(',') }}" placeholder="Enter multiple words" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">But exclude if URL contains</label>
                    <div class="col-md-9 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="url_excludes" class="url-block-input tagsinput" type="text" value="{{ data.url.url_excludes|join(',') }}" placeholder="Enter multiple words" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#device-block">
                    Device
                </a>
            </h4>
        </div>
        <div id="device-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="device-block-input custom-cb" name="allow-desktop" id="allow_desktop" {{data.device.allow_desktop ? 'checked' : ''}} ><label for="allow_desktop">Allow Desktop</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="device-block-input custom-cb" name="allow-mobile" id="allow_mobile" {{data.device.allow_mobile ? 'checked' : ''}}><label for="allow_mobile">Allow Mobile</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#browser-block">
                    Browser
                </a>
            </h4>
        </div>
        <div id="browser-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="browser-block-input custom-cb" id="all" {{data.browser.all ? 'checked' : ''}} ><label for="all">Allow all browsers</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="browser-block-input custom-cb" id="ie" {{ (data.browser.ie == "false") ? '' : 'checked'}}><label for="ie">Dont Allow IE</label>
                    </div>
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="browser-block-input custom-cb" id="ff" {{ (data.browser.ff == "false") ? '' : 'checked'}}><label for="ff">Dont Allow Firefox</label>
                    </div>
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="browser-block-input custom-cb" id="safari" {{ (data.browser.safari == "false") ? '' : 'checked'}}><label for="safari">Dont Allow Safari</label>
                    </div>
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="browser-block-input custom-cb" id="chrome" {{ (data.browser.chrome == "false") ? '' : 'checked'}}><label for="chrome">Dont Allow Chrome</label>
                    </div>
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" class="browser-block-input custom-cb" id="opera" {{ (data.browser.opera == "false") ? '' : 'checked'}}><label for="opera">Dont Allow Opera</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#geo-block">
                    Geographic
                </a>
            </h4>
        </div>
        <div id="geo-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <label class="col-sm-3 control-label"></label>
                        <input type="checkbox" id="all_countries" class="geo-block-input custom-cb" {{data.geographic.all_countries ? 'checked' : ''}}><label for="all_countries">Allow all countries</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Only Allow</label>
                    <div class="col-md-4 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="allowed_countries" type="text" class="geo-block-input tagsinput" value="{{ data.geographic.allowed_countries|join(',') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">But exclude</label>
                    <div class="col-md-4 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="exclude_countries" type="text" class="geo-block-input tagsinput" value="{{ data.geographic.exclude_countries|join(',') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#cookie-block">
                    Cookie
                </a>
            </h4>
        </div>
        <div id="cookie-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Exclude users if cookie name contains</label>
                    <div class="col-sm-9 controls">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder="eg. ga_, fb" id="exclude_cookie" class="form-control cookie-block-input tagsinput" value="{{ data.cookies.exclude_cookie|join(',') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Include users only if cookie name contains</label>
                    <div class="col-sm-9 controls">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder="eg. abtest" id="include_cookie" class="form-control cookie-block-input tagsinput" value="{{ data.cookies.include_cookie|join(',') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#ip-block">
                    IP
                </a>
            </h4>
        </div>
        <div id="ip-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Include these IPs</label>
                    <div class="col-md-4 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="include_ips" type="text" class="ip-block-input tagsinput" value="{{ data.ip.include_ips|join(',') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Exclude these IPs</label>
                    <div class="col-md-4 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="exclude_ips" type="text" class="ip-block-input tagsinput" value="{{ data.ip.exclude_ips|join(',') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#language-block">
                    Language
                </a>
            </h4>
        </div>
        <div id="language-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Only Allow codes</label>
                    <div class="col-md-4 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="allowed_languages" type="text" class="language-block-input tagsinput" value="{{ data.language.allowed_languages|join(',') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">But Exclude codes</label>
                    <div class="col-md-4 controls">
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="exclude_languages" type="text" class="language-block-input tagsinput" value="{{ data.language.exclude_languages|join(',') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- trigger modal -->
                <a href="#" data-toggle="modal" data-target="#modal-browser-language">
                    Refer Language Codes
                </a>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#custom-block">
                    Custom
                </a>
            </h4>
        </div>
        <div id="custom-block" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Run campaign only if the function returns true</label>
                    <div class="col-sm-9 controls">
                        <div class="row">
                            <div class="col-md-6">
                                <textarea id="script_fn" class="form-control" rows="15" cols="10">{{ data.script.js }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'modals/language-codes.html' %}