<div class="row">
    <div class="col-lg-12 tab-container"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-variations">
            {% for key, value in data.variations %}
                <li class="{{ (key == 'control') ? 'active':'' }} dropdown nav-item"><a href="#{{ key }}" {{value.paused}} data-paused="{{ (value.paused == 'true') ? 'true':'false' }}" class="variationTab dropdown-toggle nav-link" data-variation="{{ key }}" data-toggle="tab">{{ (value.paused == 'true' and key != 'control') ? '<i class="fa fa-pause"></i>' : '<i class="fa"></i>' }} {{ value.name }} </a>
                    <div class="dd"><span class="caret"></span></div>
                    <ul class="dropdown-menu">
                        {% if key != 'control' %}
                        <li><a href="#" class="duplicate-variation">Duplicate Variation</a></li>
                        <li><a href="#" class="rename-variation">Rename Variation</a></li>
                        <li><a href="#" id="remove-variation-btn" class="delete-variation">Delete Variation</a></li>
                        <li><a href="#" class="pause-variation {{ value.paused }}">{{ (value.paused == 'true') ? 'UnPause':'Pause' }} Variation</a></li>
                        {% endif %}
                        <li><a href="#" data-cid="{{ id }}" data-vid="{{ key }}" class="preview-variation">Preview Variation</a></li>
                    </ul>
                </li>
            {% endfor %}
            <a id="new-variation-btn" class="btn btn-md"> <i class="fa fa-plus fa-lg" aria-hidden="true"></i> </a>
        </ul>
    </div>

    <div class="col-lg-12">
        <!-- Tab panes -->
        <div class="tab-content tab-content-side">
            {% for key, value in data.variations %}
            <div class="tab-pane {{ (key == 'control') ? 'active':'' }}" id="{{ key }}">
                {% set num = loop.index - 1%}
                {% set variation = value %}
                {% include 'partials/editor-tabs.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'modals/new-variation.html' %}
{% include 'modals/preview-variation.html' %}