<div id="modal-goal-setup" class="modal fade in" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    ×
                </button>
                <h4 class="modal-title">Setup a goal</h4>
            </div>
            <div class="modal-body">
                <div class="pdm">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" class="form-control mandat goal-name" value="{{ goal.name }}" placeholder="Enter the name of the goal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Track users who arrive at</label>
                            <div class="col-sm-8 goal-arrive-actions">
                                <select class="form-control goal-arrive">
                                    <option value="0">Select</option>
                                    <option value="page-path" {{  (goal.arrive_action == 'page-path') ? 'selected' }}>Page Path</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group {{  (goal.arrive_action != 'page-path') ? 'temp-hide' }} goal-arrive-action-item arrive-action-pathpath" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Page Path</label>
                            <div class="col-sm-8">
                                <input type="text"  name="arrive-action-pathpath" value="{{ goal.page_path }}" class="form-control mandat" placeholder="Enter the page path">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Measure when user takes this action</label>
                            <div class="col-sm-8 result-actions">
                                <select class="form-control goal-action">
                                    <option value="0">Select</option>
                                    <option value="action-pp" {{ (goal.action=='action-pp' ? 'selected') }} >Target Page Path</option>
                                    <option value="event" {{ (goal.action=='event' ? 'selected') }}>Target Page Event</option>
                                    <option value="segment-sequence" {{ (goal.action=='segment-sequence' ? 'selected') }}>Define Segment sequence</option>
                                    <option value="segment-condition" {{ (goal.action=='segment-condition' ? 'selected') }}>Define Segment condition</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='action-pp' ? ' temp-hide ') }}  result-action-item result-action-pp" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Target Page URL</label>
                            <div class="col-sm-2">
                                <select class="form-control result-action-url-pattern">
                                    <option value="0">Select</option>
                                    <option value="==" {{ (goal.action_pp_pattern=='==' ? 'selected') }} >Equals</option>
                                    <option value="=@" {{ (goal.action_pp_pattern=='=@' ? 'selected') }}>Contains</option>
                                    <option value="=~" {{ (goal.action_pp_pattern=='=~' ? 'selected') }}>Regex</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="result-action-pp" value='{{ goal.action_pp }}' class="form-control mandat" placeholder="Enter the landing page url">
                             </div>
                        </div>

                        <div class="form-group {{ (goal.action !='event' ? ' temp-hide ') }}  result-action-item result-action-event" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Event Category</label>
                            <div class="col-sm-8">
                                <input type="text" name="result-action-goal-category" value='{{ goal.e_category }}' class="form-control mandat typeahead result-action-goal-category">
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='event' ? ' temp-hide ') }}  result-action-item result-action-event" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Event Action</label>
                            <div class="col-sm-8">
                                <input disabled="" type="text" value='{{ goal.e_action }}' name="result-action-goal-action" class="form-control mandat typeahead result-action-goal-action">
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='event' ? ' temp-hide ') }}  result-action-item result-action-event" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Event Label</label>
                            <div class="col-sm-8">
                                <input disabled="" type="text" value='{{ goal.e_label }}' name="result-action-goal-label" class="form-control mandat typeahead result-action-goal-label">
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='segment-sequence' ? ' temp-hide ') }} result-action-item result-action-segment-sequence" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Filter</label>
                            <div class="col-sm-8">
                                <input type="text" value='{{ goal.segment_sequence_filter }}' name="result-action-segment-sequence-filter" class="form-control mandat result-action-segment-sequence-filter" placeholder="Define a filter">
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='segment-sequence' ? ' temp-hide ') }} result-action-item result-action-segment-sequence" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Segment</label>
                            <div class="col-sm-8">
                                <input type="text" value='{{ goal.segment_sequence }}' name="result-action-segment-sequence" class="form-control mandat result-action-segment-sequence" placeholder="Define a segment sequence">
                                <p class="help-block help-sequence"></p>
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='segment-condition' ? ' temp-hide ') }} result-action-item result-action-segment-condition" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Filter</label>
                            <div class="col-sm-8">
                                <input type="text" value='{{ goal.segment_condition_filter }}' name="result-action-segment-condition-filter" class="form-control mandat result-action-segment-sequence-filter" placeholder="Define a filter">
                            </div>
                        </div>
                        <div class="form-group {{ (goal.action !='segment-condition' ? ' temp-hide ') }} result-action-item result-action-segment-condition" >
                            <label for="inputEmail3" class="col-sm-4 control-label">Segment</label>
                            <div class="col-sm-8">
                                <input type="text" value='{{ goal.segment_condition }}' name="result-action-segment-condition" class="form-control mandat result-action-segment-condition" placeholder="Define a segment condition">
                                <p class="help-block help-condition"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                    Close
                </button>
                <button type="button" id="new-goal-save-btn" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="goal_id" value='{{ goal.id }}'>
</div>

<input type="hidden" id="h-events-data" value='{{ eventCategory }}'>
