<div id="modal-rename-variation" class="modal fade in" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    ×
                </button>
                <h4 class="modal-title">Rename Variation</h4>
            </div>
            <div class="modal-body">
                <div class="pdm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Variation Name</label>
                        <div class="col-sm-9 controls">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" placeholder="eg. Variation 2" id="rename-variation-name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                    Close
                </button>
                <button type="button" id="rename-variation-btn" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>